
@import '../../styles/tools/tools.clearfix';

.TracksList {
  @extend %clearfix;
  margin: 0 1px;
}

.Track {

  $default-size: 233px;

  float: left;
  width: $default-size;
  height: $default-size;
  margin: 1px;

  &.Track--jumboSized {
    width: ($default-size * 2) + 6;
    height: ($default-size * 2) + 6;
  }

}
