
@import '../../styles/settings/settings.header';
@import '../../styles/settings/settings.zindex';
@import '../../styles/tools/tools.clearfix';
@import '../../styles/tools/tools.sprites';

.SiteHeader {
  @extend %clearfix;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex__header;
  background-color: $header____backgroundColor;
}

  .main {
    position: relative;
  }

    .socialLink,
    .nav,
    .logo {
      float: left;
    }

    .nav {
      cursor: pointer;
      height: $header__nav____height;
      width: $header__nav____height;

      &:hover {

        .icon {
          @include sprite__header__nav--hover;
        }

      }

      .icon {
        @include sprite__header__nav;
        margin: 30px auto 0;
      }

    }

    .logo {
      height: $header__nav____height;
      margin-right: 18px;

      > a {
        display: block;
        height: 100%;
        padding-top: 24px;
      }

      .icon {
        @include sprite__header__logo;
      }

    }

    .socialLink {
      height: $header__nav____height;

      > a {
        display: block;
        height: 100%;
        padding: 25px 13px 0;
      }

      .icon {
      }

      &.socialLink--twitter {

        .icon {
          @include sprite__header__socialTwitter;
        }

        &:hover .icon {
          @include sprite__header__socialTwitter--hover;
        }

      }

      &.socialLink--soundcloud {

        .icon {
          @include sprite__header__socialSoundcloud;
        }

        &:hover .icon {
          @include sprite__header__socialSoundcloud--hover;
        }

      }

    }

    .player-wrapper {
      position: absolute;
      top: 12px;
      right: 20px;
    }
